ul {
    list-style: none;
    margin-bottom: 0;
}

header {
    background-color: #2c3e50;
    color: white;
}

header .row {
    min-height: 100px;
}

#start {
    background-color: #1abc9c;
    color: white;
}

.row .ms_img-jumbo {
    max-width: 200px;
}

.ms_icon {
    position: relative;
}

.ms_icon i {
    font-size: 25px;
}

.ms_icon-star::before {
    content: '';
    display: block;
    background-color: white;
    height: 3px;
    width: 100px;
    position: absolute;
    bottom: 45%;
    right: 50%;
    margin: 0 25px;
}

.ms_icon-star::after {
    content: '';
    display: block;
    background-color: white;
    height: 3px;
    width: 100px;
    position: absolute;
    bottom: 45%;
    left: 50%;
    margin: 0 25px;
}

.ms_icon-star.ms_color-black::before, .ms_icon-star.ms_color-black::after  {
    background-color: black;
}

#portfolio img {
    max-width: 100%;
    border-radius: 5px;
}

#about {
    background-color: #1abc9c;
    color: white;
}

.ms_about-description {
    column-count: 2;
    column-gap: 1.2rem;
    max-width: 950px;
}

#contact .container {
    max-width: 950px;
}

.row input, .row textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #d9d9d9;
}

footer {
    color: white;
}

.ms-background-footer-1 {
    background-color: #3a546d;
}

.ms_background-footer-2 {
    background-color: #2c3e50;
}

.ms_icon-footer i {
    text-align: center;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border: 1px solid white;
    border-radius: 999px;
}

footer .row p, .row span {
    font-size: 18px;
}

.ms_color-green {
    color: #20a892;
    display: inline-block
}

.ms_background-footer-2 .row {
    min-height: 100px;
}

.ms_background-footer-2 .row p {
    font-size: 14px;
}